.admin{
    .navigation{
        a{
            margin-right: 20px;
        }
        margin-bottom: 40px;
    }

    .admin_sub{
        margin-bottom: 40px;

        p{
            margin-bottom: 20px;
        }
    }
}