.search{
    .search_form{
        margin-bottom: 30px;
    }

    .result{
        p{
            margin: 10px 0;

            a{
                color: blue;
            }
        }

        margin: 40px 0;
    }
}